
// Ana Renkler (Logoya Uygun)
$primary-color: #000000; // Siyah (ana vurgu rengi)
$primary-color-rgba-60: rgba(0, 0, 0, 0.6); // Siyah %60 şeffaf
$primary-color-light: #B3B3B3; // Açık gri (& karakterinde kullanılan)
$primary-color-light-2: #E5E5E5; // Daha açık gri (hover arka planı vs.)
$primary-color-light-3: #F5F5F5; // Çok açık gri (background tonu)

// Gri Tonları (Yardımcı renkler)
$color-grey: #4D4D4D; // Orta koyulukta gri (body text)
$color-grey-1: #B3B3B3; // Açık gri (alt metinler, ikonlar)
$color-grey-2: #D9D9D9; // Daha açık (çerçeve, ayrım çizgileri)

// Koyu Tonlar
$color-dark: #1A1A1A; // Footer, header background
$color-dark-2: #1C1F26; // Hover durumları için alternatif koyu ton

// Açık Tonlar
$color-light: #EDEDED; // Açık arka plan (section bg)
$color-light-1: #FAFAFA; // Çok açık zemin (global background)
$color-light-2: #F2F2F2; // Hafif arka plan varyantı

$facebook: #45619c;
$twitter: #00acee;
$pinterest: #de252a;
$linkedin : #1d87bd;

:root {
    --border: 20px;
    
    @media (max-width: 992px) {
        --border: 10px;
    }
}